@model QLNH_TH.Models.bookphongModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>bookphongModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="matiec" class="control-label"></label>
                <select asp-for="matiec" class ="form-control" asp-items="ViewBag.matiec"></select>
            </div>
            <div class="form-group">
                <label asp-for="maphong" class="control-label"></label>
                <select asp-for="maphong" class ="form-control" asp-items="ViewBag.maphong"></select>
            </div>
            <div class="form-group">
                <label asp-for="slnuocuong" class="control-label"></label>
                <input asp-for="slnuocuong" class="form-control" />
                <span asp-validation-for="slnuocuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
